@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=kanit&display=swap");


:root {
  color: #000;
  overflow-x: hidden;
  background-color: #FFFF;
}

#root {
  padding: 0 !important;
  max-width: 100% !important;
}


section {
  padding: 40px;
}

.banner-illustration-image {
  width: 100%;
  height: 500px;
  margin-bottom: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0em 0em;
  background-image: url("/src//assets/images//ilustracoes/meghan-holmes-buWcS7G1_28-unsplash.jpg");
}

.plan-item {
  box-shadow: 4px 2px 0px 8px rgba(235,186,14,1);
  -webkit-box-shadow: 4px 2px 0px 8px rgba(235,186,14,1);
  -moz-box-shadow: 4px 2px 0px 8px rgba(235,186,14,1);
}

.leaflet-container {
  width: 100%;
  height: 500px;
}

@media screen and (max-width: 1200px) {
  :root {
    font-size: 80%;
  }

  .banner-image {
    min-height: 24em;
  }

  .nav-menu-button {
    display: block;
  }
  .nav-menu {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 4em;
    z-index: 1;
    width: 100%;
    text-align: right;
    background-color: black;
  }

  .nav-menu a {
    padding-top: 0.5em;
  }

  .nav-menu a:hover {
    color: #EBBA0E !important;
  }

  .banner-illustration-image {
    background-position: -34em 7em;
  }
}

@media screen and (max-width: 1024px) {
  section {
    padding: 20px;
  }
  .nav-menu {
    top: 4.2em;
  }
  .about-illustration {
    align-self: center;
  }
}

@media screen and (max-width: 976px) {
  .nav-menu {
    top: 5em;
  }
  section {
    padding: 10px;
    font-size: 85%;
  }
  .section-plans {
    font-size: 0.6em;
  }

  .plan-item {
    box-shadow: 1px 1px 0px 4px rgba(235,186,14,1);
    -webkit-box-shadow: 1px 1px 0px 4px rgba(235,186,14,1);
    -moz-box-shadow: 1px 1px 0px 4px rgba(235,186,14,1);
  }
}